body {
    background-color: rgb(206, 222, 255);
}

.todo-app-container {
    width: 600px;
    height: 700px;
    margin: 0 auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}


#name-input:hover {
    color: aqua;
}

.input-section input {
    width: 200px;
}

.list-title {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(78, 78, 78);
}

.summary-section {
    display: inline-block;
    align-self: flex-end;
    margin-right: 30px;
}


.edit-btn {
    color: orange;
    border: none;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    background-color: rgb(158, 228, 228);
    margin-left: 20px;
}

.check-btn {
    color: rgb(48, 40, 25);
    border: none;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    background-color: rgb(158, 228, 228);
}

.delete-btn {
    color: rgb(183, 49, 0);
    border: none;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    background-color: rgb(158, 228, 228);
    margin-left: 20px;
}

.delete-btn :hover {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.edit-btn :hover {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.check-btn :hover {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

li {
    width: 500px;
    height: 100px;
    background-color: rgb(158, 228, 228);
    list-style: none;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

