body {
    background-color: #EEE;
    position: relative;
    margin: 0%;
    max-width: 1900px;
}

@media(max-width:600px) {
    main .header {
        display: flex;
        flex-direction: row;
        width: 402px;
        height: 70px;
        border-radius: 41px;
        position: fixed;
        bottom: 20px;
        left: 10%;
    }
    .img1 {
        width: 0;
        height: 0;
    }
    body .text {
        width: 428px;
        height: 596px;
    }

    body .q {
        width: 328px;
        height: 94px;
        flex-shrink: 0;
        font-size: 50px;
    }
}

.header {
    background-color: black;
    width: 96px;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: center;
    margin: 0 auto;
}

.img1 {
    position: absolute;
    top: 92%;
}

.q {
    color: #000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-family: Cairo;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    position: fixed;
    top: 4%;
    left: 30%;
}

@font-face {
    font-family: Cairo;
    src: url(../fonts/Cairo/Cairo-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: Hubballi;
    src: url(../fonts/Hubballi/Hubballi-Regular.ttf);
}

.text {
    display: flex;
    width: 616px;
    height: 834px;
    flex-direction: column;
    justify-content: center;
    /* background-color: pink; */
    position: fixed;
    top: 8%;
    left: 20%;
    font-family: Cairo;
}

.bold {
    font-weight: bold;
}

.line {
    width: 444.001px;
    height: 3px;
    background: #000;
}